body{
    background:#84b6f4;
    border-right-color: lightgreen;
}
.tituloprincipal{
    color: rgb(49, 153, 67);
    background-color: rgb(63, 56, 131);
    text-align: center;
    font-family:cursive;
    border-radius: 40px;
    font-size: large;
     
    
}
p{
    margin: 1px;
    border:lightslategrey;
    border-width: 3px;
    border-style: solid;
   
}
ul{
    list-style-type:circle;

}
div{
   
    border-style: double;
    padding-block: 10px;
    list-style-type:circle;
    margin-left: 2px;
    border-radius: 40px;
}
.imagen{
    margin: 1px;
    border:rgb(223, 14, 45);
    border-width: 3px;
    border-style: solid;
    width: 80px;
    height: 80px;
    border-style: solid;
}
h1{
    background:#77dd77;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    background:#a3ffac;
    text-align:center;
    font-family:cursive;
    border-radius: 90px;
    border-style: solid;
    font-size: 60cm;
}
h3{
    background:#a3ffac;
    text-align:center;
    border-radius: 40px;
    
    
}
li{
    background-color:rgb(36, 131, 194);
    text-align:center;
}